<!DOCTYPE html>

<html lang="en">
  <%- include('partials/head') %>

  <body>
    <% cameraData.forEach(camera => { %>
    <div class="card" style="display: inline-grid; width: 22rem">
      <div class="card-body">
        <h5 class="card-title"><%= camera.nodeName %></h5>
        <h6 class="card-subtitle mb-2 text-muted"><%= camera.ip %></h6>
        <p class="card-text">
          <b>cpuTemperature:</b> <%= camera.lastPerfmon.cpuTemperature.main %>°C<br />
          <b>avgLoad:</b> <%= camera.lastPerfmon.currentLoad.avgLoad %><br />
          <b>currentLoad:</b> <%= camera.lastPerfmon.currentLoad.currentLoad %><br />
          <b>currentLoadUser:</b> <%= camera.lastPerfmon.currentLoad.currentLoadUser %><br />
          <b>mem.total:</b> <%= camera.lastPerfmon.mem.total %><br />
          <b>mem.free:</b> <%= camera.lastPerfmon.mem.free %><br />
          <b>mem.used:</b> <%= camera.lastPerfmon.mem.used %><br />
          <b>mem.available:</b> <%= camera.lastPerfmon.mem.available %><br />
        </p>
        <a href="/management/<%= camera.nodeName %>" class="card-link">More Info</a>
        <a href="/management/<%= camera.nodeName %>/config" class="card-link">Configure</a>
      </div>
    </div>
    <% }) %> <%- include('partials/scripts') %>
  </body>
</html>
