<!DOCTYPE html>

<html lang="en">
  <%- include('partials/head') %>

  <body>
    <div style="width: 90%; max-width: 1000px; margin: auto; margin-top: 10vh">
      <form action="/management/<%= cameraName %>/config/update">
        <label for="config">Configuration for <%= cameraName %>:</label><br />
        <textarea type="textarea" id="config" name="config" rows="30" cols="120">
<%= JSON.stringify(cameraConfig) %></textarea
        ><br />
        <input type="submit" value="Save" />
      </form>
    </div>

    <%- include('partials/scripts') %>
    <script type="text/javascript">
      function formatCode() {
        document.getElementById('config').value = JSON.stringify(
          JSON.parse(
            document.getElementById('config').value
          ), null, 2
        );
      }

      formatCode();
    </script>
  </body>
</html>
