<!DOCTYPE html>

<html lang="en">
  <%- include('partials/head') %>

  <body>
    <% nodeData.forEach(node => { %>
    <div class="card" style="display: inline-grid; width: 22rem">
      <div class="card-body">
        <h5 class="card-title"><%= node.name %></h5>
        <h6 class="card-subtitle mb-2 text-muted"><%= node.ip %></h6>
        <p class="card-text">
          <b>cpuTemperature:</b> <%= node.latestPerfMon.cpuTemperature.main %>°C<br />
          <b>avgLoad:</b> <%= node.latestPerfMon.currentLoad.avgLoad %><br />
          <b>currentLoad:</b> <%= node.latestPerfMon.currentLoad.currentLoad %><br />
          <b>currentLoadUser:</b> <%= node.latestPerfMon.currentLoad.currentLoadUser %><br />
          <b>mem.total:</b> <%= node.latestPerfMon.mem.total %><br />
          <b>mem.free:</b> <%= node.latestPerfMon.mem.free %><br />
          <b>mem.used:</b> <%= node.latestPerfMon.mem.used %><br />
          <b>mem.available:</b> <%= node.latestPerfMon.mem.available %><br />
        </p>
        <a href="/management/<%= node.name %>" class="card-link">More Info</a>
        <a href="/management/<%= node.name %>/config" class="card-link">Configure</a>
      </div>
    </div>
    <% }) %> <%- include('partials/scripts') %>
  </body>
</html>
