<!DOCTYPE html>

<html lang="en">
  <%- include('partials/head') %>

  <body>
    <div style="width: 25vw; height: 90vh; display: inline-block">
      <a href="/management" style="display: inline-block; width: 100px; text-align: center">Back</a>
      <h2 style="display: inline-block; text-align: center"><%= node.name %></h2>
      <pre class="prettyprint lang-json" style="height: 90vh"><%= JSON.stringify(node, null, 4) %></pre>
    </div>

    <div class="content" style="width: 70vw; height: 90vh; display: inline-block">
      <canvas id="statsChart" style="width: 70vw; height: 90vh"></canvas>
    </div>

    <script>
      var ctx = document.getElementById('statsChart').getContext('2d');

      var statsChart = new Chart(ctx, {
        type: 'line',
        data: {
          labels: <%- JSON.stringify(perfMonDates) %>,
          datasets: [
            {
              label: 'avgLoad',
              data: <%- JSON.stringify(avgLoad) %>,
              backgroundColor: [
                'rgba(153, 102, 255, 0.2)',
              ],
              borderColor: [
                'rgba(153, 102, 255, 0.2)',
              ],
              borderWidth: 1,
              hidden: true,
            },
            {
              label: 'currentLoadUser',
              data: <%- JSON.stringify(currentLoadUser) %>,
              backgroundColor: [
                'rgba(255, 206, 86, 0.2)',
              ],
              borderColor: [
                'rgba(255, 206, 86, 0.2)',
              ],
              borderWidth: 1,
              hidden: true,
            },
            {
              label: 'currentLoad',
              data: <%- JSON.stringify(currentLoad) %>,
              backgroundColor: [
                'rgba(75, 192, 192, 0.2)',
              ],
              borderColor: [
                'rgba(75, 192, 192, 0.2)',
              ],
              borderWidth: 1,
            },
            {
              label: 'cpuTemperature',
              data: <%- JSON.stringify(cpuTemperature) %>,
              backgroundColor: [
                'rgba(54, 162, 235, 0.2)',
              ],
              borderColor: [
                'rgba(54, 162, 235, 0.2)',
              ],
              borderWidth: 1,
              hidden: true,
            },
            {
              label: 'memUsage',
              data: <%- JSON.stringify(memUsage) %>,
              backgroundColor: [
                'rgba(255, 159, 64, 0.2)',
              ],
              borderColor: [
                'rgba(255, 159, 64, 0.2)',
              ],
              borderWidth: 1,
            },
            {
              label: 'diskUsage',
              data: <%- JSON.stringify(diskUsage) %>,
              backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
              ],
              borderColor: [
                'rgba(255, 99, 132, 0.2)',
              ],
              borderWidth: 1,
            },
          ],
        }
      });
    </script>

    <%- include('partials/scripts') %>
  </body>
</html>
